.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}

.layout-enter-active, 
.layout-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to,
.layout-enter, 
.layout-leave-active {
  opacity: 0;
}

::selection {
  background-color: #d2e7fd;
}

.footer {
  color: #b5b5b5;
  text-align: center;
}

.footer h3 {
  color: #b5b5b5;
  font-weight: bold;
}

.footer li {
  display: inline-block;
  padding: 0 1rem;
  border-right: 1px solid lightgray;
}

.footer li:last-child {
  border: none;
}